.storyModal {
    /*flex-box child props*/
    z-index: 12;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    /*flex-box parent props*/
    /*styling (the rest of the CSS)*/
}

.modalHeader{

}

.modalBody{

}

.modalFooter{

}
