:root {
  --item-color: rgba(0, 0, 0, 0.3);
}

.menu {
  display: flex;
  flex-shrink: 1;
}
.menu-item {
  color: var(--item-color);
  padding: 1rem;
}
.menu-item .authenticated {
  color: inherit;
}
.menu-item .settings {
  color: black;
}
