{
  "presets": [
    "es2015",
    "es2017",
    "react",
    "stage-0",
    "stage-3"
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import",
    "babel-plugin-dynamic-import-node"
  ]
}
