{
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-unused-vars": 0,
        "no-console": 0
    }
}
