{
    "extends": "@antfu",
    "rules": {
        "curly": "off",
        "brace-style": "off",
        "comma-dangle": "off",
        "@typescript-eslint/brace-style": "off",
        "@typescript-eslint/comma-dangle": "off"
    }
}