{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
      "sourceType": "module",
      "allowImportExportEverywhere": true
    },
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "object-curly-newline": ["error", {
            "ObjectExpression": { "multiline": true },
            "ObjectPattern": { "multiline": true },
            "ImportDeclaration": { "multiline": true },
            "ExportDeclaration": { "multiline": true }
        }],
        "jsx-a11y/anchor-is-valid": [ "error", {
            "components": [ "Link" ],
            "specialLink": [ "to" ],
            "aspects": [ ]
        }]
    }
}
