######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Maven
######################
/log/
/target/
/dependency-reduced-pom.xml

######################
# Package Files
######################
*.jar
*.war
*.db

######################
# Logs
######################
*.log*
