
# Gradle
.gradle/
build/
local*

# Eclipse
.settings/
.project
.classpath

# Idea
.idea/
out/
*.iml

# VS Code
.vscode/

# Other Tools
kotlin-js-store/
node_modules/
.lazybones/
.java-version

# Runtime
**/log/
*.log
*.hprof
.attach_pid*
hs_err_pid*

# System Files
.DS_Store
Thumbs.db

# Testing
package.json
package-lock.json
