[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
e1839a8 = {path = ".",editable = true}  # conduit
argon2-cffi = "*"
gunicorn = "*"
mypy_extensions = "*"
passlib = "*"
psycopg2-binary = "*"
pyramid = "*"
pyramid_deferred_sqla = {git = "https://github.com/niteoweb/pyramid_deferred_sqla.git",editable = true}
pyramid_force_https = "*"
pyramid_heroku = "*"
pyramid_jwt = "*"
pyramid_openapi3 = "*"
pyramid_redirect = "*"
python-slugify = "*"
raven = "*"
structlog = "*"

[dev-packages]
black = "==19.3b0"
codespell = "*"
coverage = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-debugger = "*"
flake8-deprecated = "*"
flake8-docstrings = "*"
flake8-isort = "*"
flake8-mock = "*"
flake8-mutable = "*"
flake8-plone-hasattr = "*"
flake8-print = "*"
flake8-self = "*"
flake8-super-call = "*"
flake8-tuple = "*"
freezegun = "*"
mypy = "*"
pre-commit = "*"
pre-commit-hooks = "*"
pytest = "*"
pytest-bdd = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-randomly = "*"
pytest-testmon = "*"
pytest-watch = "*"
requests-html = "*"
responses = "*"
testfixtures = "*"
typecov = "*"
waitress = "*"
webtest = "*"

[requires]
python_version = "3.7"
