{:deps   {:aliases [:dev]}
 :nrepl  {:port 9000}
 :builds {:main  {:target           :browser
                  :output-dir       "target/public/js/main"
                  :asset-path       "/js/main"
                  :modules          {:main {:entries [realworld-fulcro.client]}}
                  :devtools         {:preloads   [com.fulcrologic.fulcro.inspect.preload]
                                     :after-load realworld-fulcro.client/after-load}
                  :compiler-options {:source-map true}}
          :rn    {:target           :react-native
                  :output-dir       "cljs"
                  :devtools         {:autoload   true
                                     :after-load realworld-fulcro.client/after-load}
                  :init-fn          realworld-fulcro.client/main
                  :compiler-options {:reader-features #{:cljsrn}
                                     :source-map      true}}
          :cards {:target     nubank.workspaces.shadow-cljs.target
                  :ns-regexp  "-(test|cards)$"
                  :output-dir "target/public/js/cards"
                  :asset-path "/js/cards"
                  :preloads   [com.fulcrologic.fulcro.inspect.preload]}}}
