.StoriesContainer {
    /*flex-box child props*/
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    width: 90%;
    margin-top: 1.5em;
    /*flex-box parent props*/
    display: flex;
    flex-wrap: wrap;
    /*styling (the rest of the CSS)*/
}
