.header {
    content:url('../testAssets/wireframe-placeholder.png');
    /*flex-box child props*/
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 90%;
    /*flex-box parent props*/
    /*styling (the rest of the CSS)*/
}

