.tags-container {
  padding: 5px 10px 10px;
  background: #f3f3f3;
  border-radius: 4px;
  flex-wrap: wrap;
  font-family: source sans pro, sans-serif;
}

.tag-chip {
  color: #fff !important;
  font-size: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
  background-color: #818a91;
  border-radius: 5px;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
