.article-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
  margin-bottom: 2rem;
}

img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

.article-meta {
  position: relative;
  font-weight: 300;
  gap: 0.5rem;
}

.author {
  color: var(--header-color);
  text-decoration: none;
  font-weight: 500;
}

.description {
  color: var(--meta-color);
  font-weight: 100;
}

.article-info {
  display: flex;
  line-height: 1rem;
  gap: 0.5rem;
}

.article-info div {
  display: inline-block;
}

.article-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 3px;
}

.read-more {
  color: var(--meta-color);
  font-size: 0.8rem;
}

.article-favorites {
  float: right;
  color: var(--header-color);
  border: solid 1px var(--header-color);
  font-size: 0.875rem;
  border-radius: 0.2rem;
  padding: 0.25rem 0.5rem;
  background: transparent;
}

.article-favorites:hover {
  background-color: var(--header-color);
  color: white;
  font-weight: 400;
}
