<?php

use Illuminate\Database\Schema\Blueprint;
use Phinx\Migration\AbstractMigration;

class $className extends $baseClassName
{

    public function up()
    {
        //
    }
    
    public function down()
    {
        //
    }

}
