.helloWorld {
    /*flex-box children props*/
    margin: auto;
    height: 20%;
    width: 20%;
    /*flex-box parent props*/
    /*styles (the rest of your css)*/
    background-color: purple;
    text-align: center;
}
