.comment-form .card-footer {
  display: flex;
  justify-content: space-between;
}

.card-footer {
  align-items: center;
}

.card-footer div {
  margin-left: 0.5rem;
}

.card-footer .author {
  margin-left: inherit;
  display: flex;
}
