.contianer {
  padding: 0 25%;
}

textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
