:root {
  --card-border-color: #e5e5e5;
}

.card {
  border: 1px solid var(--card-border-color);
  box-shadow: none;
  background-color: transparent;
  position: inherit;
}

.card-footer {
  border-top: 1px solid var(--card-border-color);
  box-shadow: none;
  font-size: 0.8rem;
  font-weight: 300;
  display: flex;
}

.card-footer div {
  margin-left: 0.5rem;
}
