/**
 * Write here your global css styles
 */
:root {
  --meta-color: #bbb;
  --input-color: #55595c;
  --input-margin: 1rem;
  --input-radius: 0.25rem;
  --user-image-size: 2rem;
}

input {
  margin-top: var(--input-margin);
  margin-bottom: var(--input-margin);
  border-radius: var(--input-radius);
}

textarea {
  margin-top: var(--input-margin);
  margin-bottom: var(--input-margin);
  border-radius: var(--input-radius);
}

body {
  font-size: 1rem;
  line-height: 1.5;
}

html {
  font-size: 16px;
}
